.header
{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar
{
    display: flex;
    justify-content: space-between ;
    /* Đẩy vị trí ra xa */
}
.header__navbar-list 
{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: inline-flex;
    align-items: center;
}
.header__navbar-item
{
    margin : 0 8px;
    position: relative;
    min-height: 26px;
    z-index:3;
}
.header__navbar-item-down-menu-active:hover
{
    color: var(--primary-color);
}
.header__navbar-item-link-icon
{
    margin-right: 2px;
}
.header__navbar-item-link-icon-down
{
   font-size: 1.2rem;
   margin-left: 4px;
}
.header__navbar-item-down
{
    position: absolute;
    top: 120%;
    width: 180px;
    background-color: var(--while-color);
    right:0;
    cursor: default;
    border-radius: 2px;
    z-index: 1;
    transform-origin: calc(100%-32px) top;
    /* Đổi vị trí chuyển động tâm*/
    animation: headerNotifyGrowth ease-in 0.2s ;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s ;
    -o-animation:headerNotifyGrowth ease-in 0.2s ;
    /* Khai báo hiệu ứng chuyển động trahs 1 số trình duyệt không hỗ trợ */
    display: none;
    will-change: opacity,transform;
    border: 1px solid rgba(0 , 0, 0, 0.1);
    /* Khai báo sự thay đổi chuyển động */
}
.header__navbar-item:hover .header__navbar-item-down
{
    display: block;
}
.header__navbar-item-down-menu
{
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0.01);
}
.header__navbar-item-down-menu-icon
{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-left: 4px;
}
.header__navbar-item-down::before
{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left:0;
    top: -16px;
}
.header__navbar-item-down-list a
{
    margin: 0 0 0 12px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    user-select: none;
    text-decoration: none;
    -webkit-user-select: text;
    text-align: left;
}
.header__navbar-item-down-list-down
{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.header__navbar-item-down-list-down-active
{
    color: var(--primary-color);
}
.header__navbar-user
{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user-img
{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0 , 0, 0, 0.1);
}
.header__navbar-user-name
{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
/* Haeder_navbar-user */

.header__navbar-user-menu
{
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--while-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user:hover .header__navbar-user-menu
{
         display: block;
}
.header__navbar-user-item
{

}
.header__navbar-user-item--separate
{
    border-top: 1px solid rgba(0 , 0, 0, 0.05);
}
.header__navbar-user-menu::before
{
    content: "";
    border-width: 20px 17px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}
.header__navbar-user-menu::after
{
   content: "";
   display: block;
   position: absolute;
   top: -8px;
   right: 0;
   width: 60%;
   height: 56px;
}
.header__navbar-user-item a:hover
{
    background-color: #fafafa;

}
.header__navbar-user-item a
{
    text-decoration:none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: inline-block;
    padding: 4px 16px;
    font-weight: 400;
}
.header__navbar-user-item a:first-child
{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: 6px;
}
.header__navbar-user-item a:last-child
{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 4px;
}
/*  */
.header__navbar-item,
.header__navbar-item-link
{
    display: inline-block;
    /* Giuwx tính chất khối nhưng đẩy lên cùng 1 hàng */
    font-size: 1.3rem;
    color: var( --while-color);
    text-decoration: none;
    font-weight: 400;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon
{
    display: inline-flex;
    align-items: center;
}
.header__navbar-item--strong
{
    font-weight: 400;
}
.header__navbar-item--separate::after
{
     content: "";
     display: block;
     position: absolute;
     width: 1px;
     height: 16px;
     background-color: #fb9086;
     right: -9px;
     top: 50%;
     transform: translateY(-50%);
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover
{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item-link
{
    color: var(--while-color);
    text-decoration: none;
}
.header__navbar-item-link:nth-child(2)
{
     margin-left: 3px;
}
.header__navbar-icon
{
    font-size: 1.8rem;
    color: var(--while-color);
    margin: 0 4px;
}
.header__avbar-tittle--no-pointer
{
    cursor: text;
    color: var(--while-color);
    padding-right: 2px;
}
/* Header QR */
.header__qr
{
     background-color: var(--while-color);
     width: 186px;
     position: absolute;
     left: 0;
     top: 120%;
     padding: 8px;
     border-radius: 2px;
     display: none;
     animation: fadeIn ease-in 0.4s;
     z-index: 1;
     box-shadow: 0 1px 2px rgba(0 , 0, 0, 0.1);
}
.header__qr::before
{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left:0;
    top: -16px;
}
.header__navbar-item--qr:hover .header__qr
{
    display: block;
}
.header__navbar-item-has-notify:hover .header__notification
{
    display: block;
}
.header__qr-apps
{
     display: flex;
     justify-content: space-between;
}
.header__qr-img
{
       width: 100%;
}
.header__qr-dowload-img
{
    height: 16px;
}
.header__qr-link:first-child
{
      margin-left: 11px;
}
.header__qr-link:nth-child(2)
{
    margin-right: 11px;
}
/* Header Notification */
.header__notification
{
      position: absolute;
      top: 120%;
      width: 404px;
      background-color: var(--while-color);
      right:0;
      cursor: default;
      border-radius: 2px;
      z-index: 1;
      transform-origin: calc(100%-32px) top;
      /* Đổi vị trí chuyển động tâm*/
      animation: headerNotifyGrowth ease-in 0.2s ;
      -webkit-animation: headerNotifyGrowth ease-in 0.2s;
      -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s ;
      -o-animation:headerNotifyGrowth ease-in 0.2s ;
      /* Khai báo hiệu ứng chuyển động trahs 1 số trình duyệt không hỗ trợ */
      display: none;
      will-change: opacity,transform;
      border: 1px solid rgba(0 , 0, 0, 0.1);
      /* Khai báo sự thay đổi chuyển động */
}
.header__notification::before
{
    content: "";
    border-style:solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    top: -28px;
    right: 4px;
    border-width: 20px 26px;
}
.header__notification::after
{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px;
}
@keyframes headerNotifyGrowth
{
    from
    {
        opacity: 0;
        transform: scale(0);
    }
    to
    {
       opacity: 1;
       transform: scale(1);
    }
}
.header__notif-header
{
     border: 1px solid #d3d3d3;
     background-color: var(--while-color);
     height: 40px;

}
.header__notif-header h3
{
    margin: 0 0 0 12px;
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    user-select: none;
    -webkit-user-select: text;
    /* Hỗ trọ 1 số trình duyêt nếu  không hiểu câu  lệnh */
}
.header__notify-list
{
        padding-left: 0;
}
.header__notify-item
{
      display: flex;
}
.header__notify-item:hover
{
    background-color: #f7f7f7;
}
.header__notify-item--readed
{
    background-color: rgba(238, 77, 45, 0.07);   
}
.header__notify-link
{
       display: flex;
       text-decoration: none;
       padding: 12px;
       width: 100%;
}
.header__notify-img
{
     width: 48px;
     object-fit: contain;
}
.header__notify-info
{
     margin-left: 12px;
}
.header__notify-name
{
     display: block;
     font-size: 1.4rem;
     color: var( --black-color);
     font-weight: 400;
     line-height: 1.8rem;
}
.header__notify-descriotion
{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}
.header_notify-footer
{
    display: flex;
}
.header_notify-footer-btn
{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}
/* Authen-modal */
.auth-form
{
    width: 500px;
    background: var(--while-color);
    overflow: hidden;
    border-radius: 5px;
    display: n;
}
.auth-form__container
{
    padding: 0 32px;
}
.auth-form__header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}
.auth-form__heading
{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn
{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.auth-form__form
{
}
.auth-form__input
{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.45rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus
{
    border-color: #777;
}
.auth-form__aside
{
    margin-top: 18px;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0px 18px;
}
.auth-form__polyce-text
{
    font-size: 1.35rem;
}
.auth-form__text-link
{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls
{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back
{
    margin-right: 9px;
}
.auth-form__socials
{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials--google
{
    background: var(--while-color);
    color: #666;
}
.auth-form__help
{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.auth-form__help-link
{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-sepa
{
    display: block;
    height: 22px;
    margin: 1px 16px 0px;
    border-left: 1px solid #eaeaea;
}
.auth-form__help-forgot
{
    color: var(--primary-color);
}
.header-with-search
{
    height: var( --header-width-search-height);
    display: flex;
    align-items: center;
}
.header-logo
{
    width: 200px;
}
.header-logo-link
{
    text-decoration: none;
    color: transparent;
}
.haeder-logo-img
{
    width: 150px;
    color: var(--while-color);
    cursor: pointer;
}
.header-search
{
    background-color: var(--while-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    z-index: 2;
    width: 843px;
    position: absolute;
    margin-left: 200px;
}
.header__cart-wrap
{
      position: relative;
      display: inline-block;
      padding: 0 12px;
      cursor: pointer;
}
.heeader-cart
{
    width: 150px;
    text-align: center;
}
.header__cart-wrap:hover .heeader-cart-list
{
    display: block;
}
.header_cart-icon
{
    color: var(--while-color);
    font-size: 2.4rem;
    margin-top: 6px;
}
.header__search-input-wrap
{
    flex: 1;
    width: 100%;
    position: relative;
}
.header__search-input
{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0px 0px 0px 18px;
    border-radius: 2px;
}
.header-search-selection
{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    width: 120px;
    padding-right: 0;
    position: relative;
    cursor: pointer;
}
.header-search-selection-label
{
     font-size: 1.4rem;
     color: var(--text-color);
     font-weight: 400;
}
.header-search-selection-icon
{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 2px 5px;
    position: relative;
    top: 1px;
}
.header-search-btn
{
      background-color: var(--primary-color);
      border: none;
      height: 34px;
      border-radius: 2px;
      margin-right: 4px;
      width: 60px;
      outline: none;
}
.header-search-btn:hover
{
     background-color: #ec593c;
     cursor: pointer;
}
.header-search-btn-icon
{
      font-size: 1.4rem;
      color: var(--while-color);
}
.header-search-option
{
    position: absolute;
    right: 0;
    top: calc(100%-1px);
    width: 168px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    margin-top: 12px;
    border-radius: 2px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header-search-option::after
{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    position: absolute;
}
.header-search-selection:hover .header-search-option
{
    display: block;
}
.header-search-option-item
{
    background-color: var(--while-color);
    padding: 8px 6.65px;
}
.header-search-option-item:first-child
{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header-search-option-item:last-child
{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header-search-option-item:hover
{
    background-color: #fafafa;
    cursor: pointer;
}
.header-search-option-item span
{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header-search-option-item i
{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header-search-option-item-icon
{
    padding-left: 10px;
    font-size: 1.2rem;
    color: var(--primary-color);
}
.header-search-option-item-active i
{
        display: inline-block;
}
.header__search-input:focus ~.header__search-history
{
    display: block;
}
/* Search history */
.header__search-history
{
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: var(--while-color);
    border-radius: 2px;
    box-shadow: 0 0 3px rgb(172, 172, 172);
    margin-top: 8px;
    display: none;
    overflow: hidden;
    z-index: 1 ;
}
.header_search-history-heading
{
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list
{
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}
.header__search-history-iteam
{
    height: 38px;
    padding: 0 12px;
}
.header__search-history-iteam:hover
{
    background-color: #fafafa;
}
.header__search-history-iteam a
{
     text-decoration: none;
     font-size: 1.4rem;
     line-height: 38px;
     color: var(--text-color);
}
.heeader-cart-list
{
    position: absolute;
    top: calc(100% + 5.5px);
    right: 1px;
    background-color: var(--while-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0 , 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 2;
}
.heeader-cart-list::after
{
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    cursor: pointer;
}
.haeder__caart--no-cart-img
{
    width: 54%;
    display: none;
}
.heeader-cart-list--no-cart
{
    padding: 24px 0px;
}
.header__cart-list-no-cart-msg
{
    /* display: block; */
    display: none;
    font-size: 1.5rem;
    margin-top: 14px;
    color: var(--text-color);
    text-align: center;
}
.heeader-cart-list--no-cart .haeder__caart--no-cart-img,
.heeader-cart-list--no-cart .header__cart-list-no-cart-msg
{ 
     display: block;  
     margin-left: auto;
     margin-right: auto;  
}
.header__cart-notice
{
    position: absolute;
    padding: 1px 7px;
    background-color: var(--while-color);
    font-size: 1.4rem;
    color: #ee4d2d;
    line-height: 1.4rem;
    border-radius: 2.75rem;
    border: .125rem solid var(--brand-primary-color,#ee4d2d);
    top:-4px;
    right: -4px;
}
.header__cart-list-item
{
     padding-left: 0px;
     list-style: none;
     height: 56vh;
     /* View height */
     overflow-y:auto;
}
.header__cart-item
{
       display: flex;
       align-items: center;
}
.header__cart-item:hover
{
    background-color: #f8f8f8;
}
.header__cart-heading
{
        text-align: left;
        margin: 8px 0px 8px 12px;
        font-size: 1.4rem;
        color: #999;
        font-weight: 400;
}
.header__cart-img
{
   width: 45px;
   margin: 12px;
   height: 32px;
   border: 1px solid #e8e8e8;
}
.header__Cart-item-info
{
   width: 100%;
   margin-right: 12px;
}
.header__cart-item-head
{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.header__cart-item-name
{
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--text-color);
   margin: 0;
   line-height: 2rem;
   max-height: 4rem;
   overflow: hidden;
   flex: 1;
   padding-right: 16px;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   text-align: left;
}
.header__cart-item-price
{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply
{
    font-size: 0.9rem;
    margin-top: 0 4px;
    color: #757575;
}
.header__cart-item_qnt
{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400;
}
.header__cart-item-body
{
  display: flex;
  justify-content: space-between;
}
.header__cart-item-description
{
   color: #757575;
   font-size: 1.3rem;
   font-weight: 300;
}
.header__cart-item-remove
{
     color: var(--text-color);
     font-size: 1.4rem;
     font-weight: 400;
}
.header__cart-item-remove:hover
{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-check_number
{
    color: var(--text-color);
    font-size: 1.2rem;
    float: left;
    margin-left: 12px;
    text-align: center;
    margin-top: 12px;
    font-weight: 500;
}
.header__cart-check
{
    float: right;
    margin: 0px 12px 12px 0;
    text-align: center;
    vertical-align: center;
}
.header__cart-check_number:hover
{
    color:#f05d41;
}
.header-searchsuggestions
{
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-left: 40px;
}
.header-search-btn-search-new
{
  color: #fff0eb;
  font-size: 12px;
  outline: none;
  margin-left: 10px;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 0.1875rem;
}
.content-header
{
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 13px;
}
.content-heder--list
{
    display: inline-flex;
    list-style: none;
}
.content-header--list-icon
{
    font-size: 8px;
    margin-left: 4px;
}
.content-heder--list .content-header--list-link
{
   text-decoration: none;
   color: #0055aa;
}
.content-header--img
{
    position: relative;
    margin-left: 40px;
    background-color: white;
}
.content-img
{
    width: 450px;
    height: 550px;
    background-position: 50%;
    border-radius: 2px;
    cursor: pointer;
}
._2riwuv {
    position: relative;
}
._1ivFgC {
    display: inline-block;
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
._4yF4f1 {
    position: relative;
    width: 85px;
    height: 85px;
}
.aGIJCo {
    position: relative;
}
._1RZOE3 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}
._1ivFgC
{
    cursor: pointer;
}
._1ivFgC:hover
{
    border: solid var(--primary-color);
    top: 0;
    left: 0;
}
._2UWcUi {
    width: 100%;
    padding-top: 100%;
    background-position: 50%;
}
._1vc1W7 {
    opacity: 1;
    transition: opacity .2s ease;
}
._3igPfx {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    left: 50%;
    -webkit-transform: translate3d(-1rem,-1rem,0);
    transform: translate3d(-1rem,-1rem,0);
}
.contet--img--connect
{
    margin-top: 15px;
    text-align: center;
    align-items: center;
    width: 100%;
}
.content-conect-menu
{
    display: flex;
    padding: 0 30px;
}
.content-connect-list
{
    font-size: 16px;
    color: #222;
}
.content-conect-item 
{
   display: flex;
   text-decoration: none;
   outline: none;
}
.content-conect-item-icon
{
    width: 25px;
    height: 25px;
    margin-right: 2px;
    font-size: 16px;
}
.content-conect-tym
{
    justify-content: center;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(0 , 0, 0, 0.4);
    height: 17px;
    margin-left: 20px;
}
.content-conect-tym-icon
{
    color: rgba(255 , 0, 0, 0.5);
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
}
.content-conect-tym--text
{
    font-weight: 500;
    font-size: 15px;
}
.container
{
    width: 100%;
    box-sizing: border-box;
    padding: 16px 20px 0 14px;
}
.container--text
{
    display: flex;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 500;
    margin: 0;
    vertical-align: sub;
    max-height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
    max-width: 41.5625rem;
    font-size: 1.25rem;
    overflow-wrap: break-word;
}
.containet--text-love
{
    background-color: red;
    color: white;
    text-align: center;
    width: 63px;
    height: 15px;
}
/* Content */
.content-text
{
    float: right;
    margin-top: 26px;
    width: 711px;
    height: 100%;
    margin-right: 12px;
}
.content-text-tittle-like
{
    background-color: var(--primary-color);
    color: white;
    height: 20px;
    width: 60px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
}
.content-text-tittle-heading
{
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    line-height: 1;
}
.content-text-evaluate
{
    display: flex;
    margin-top: 22px;
}
.conten-text-evaluate-list
{
    text-decoration: none;
    border-right: 1px solid rgba(0 , 0, 0, 0.4);
    display: block;
}
.content-text-evaluate-list-menu
{
    margin-left: 20px;
    margin-right: 20px;
    color: var(--black-color);
    font-size: 15px;
    text-decoration: none;
}
.content-text-evaluate-list-menu-active
{
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    margin-right: 2px;
}
.content-text-evaluate-list-menu-icon-active
{
    color: var(--primary-color);
    font-size: 11px;
    padding-right: 20px;
}
.content-text-evaluate-list-menu-icon
{
    color: var(--primary-color);
    font-size: 11px;
}
/* content-body */
.content-body
{
    margin-top: 22px;
}
.content-body--img
{
    max-width: 93%;
    height: 44px;
}
.price
{
    background-color: #fafafa;
    padding: 15px 20px;
}
.price-item-center
{
    display: inline-flex;
    align-items: center;
}
.price-item-center-flex
{
    align-items: center;
    display: flex;
}
.priceitem-center-old
{
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #929292;
    margin-right: 10px
}
.priceitem-center-new
{
    font-size: 2.4rem;
    font-weight: 500;
    color: #ee4d2d;
}
.price-item-discount
{
    margin-left: 15px;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    background: #ee4d2d;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}
.content-pricce
{
    margin-top: 18px;
    padding: 4px;
    color: #222;
    align-items: center;
    display: flex;
}
.content-pricce--active
{
    padding: 4px;
    color: #222;
    align-items: center;
    display: flex;
    margin-top: 2px;
}
.content-price-text
{
    color: #757575;
    width: 100px;
    text-transform: capitalize;
    flex-shrink: 0;
}
.content-price-text--active
{
    color: #757575;
    font-size: 13px;
    margin-left: 4px;
    width: 110px;
}
.content-price-sale
{
    background: #fbebed;
    color:#ee4d2d;
    padding: 2px 5px;
    font-size: 13px;
    text-align: center;
}
.content-price-sale--active
{
    padding: 2px 5px;
    font-size: 13px;
    text-align: center;
}
/*  */
.content-free-shipipng--img--text
{
    display: flex;
    margin-bottom: 3px;
}
.content-free-shipipng--text
{
    margin-left: 4px;
    align-items: center;
    color: #222;
}
.content-free-shipipng--text--active
{
    margin-left: 24px;
    color: rgba(0,0,0,.54);
    font-weight: 300;
}
.shipping-location
{
    margin-left: 100px;
    display: inline-flex;
}
.shipping-location--active
{
    margin-left: 130px;
    display: flex;
    margin-top: 3px;
}
.shipping-location-img
{
    font-size: 18px;
    margin-left: 3px;
    margin-right: 8px;
}
.shipping-location--text
{
    color: #636363;
    width: 110px;
    margin-right: 10px;
    margin-top: 4px;
}
.shiping--location-home
{
    display: inline-flex;
    margin-top: 4px;
}
.shiping--location-home--active
{
    display: inline-flex;
    margin-top: 4px;
}
.shiping--location-home--address
{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.shiping--location-home--address:hover{
    color: var(--primary-color);
}
.shiping--location-home--address--icon
{
    color: #808080;
}
.shippiing-location--cart
{
    width: 450px;
    margin-top: 23px;
    height: 130px;
    line-height: 1.6;
    text-align: center;
    position: absolute;
    color: rgba(0 , 0, 0, 0.8);
    background-color:white;
    right:235px;
    padding: 12px;
    cursor: default;
    border-radius: 2px;
    z-index: 1;
    transform-origin: calc(100%-32px) top;
    /* Đổi vị trí chuyển động tâm*/
    animation: headerNotifyGrowth ease-in 0.2s ;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s ;
    -o-animation:headerNotifyGrowth ease-in 0.2s ;
    /* Khai báo hiệu ứng chuyển động trahs 1 số trình duyệt không hỗ trợ */
    display: none;
    will-change: opacity,transform;
    border: 1px solid rgba(0 , 0, 0, 0.1);
}
.shippiing-location--cart--list
{
    margin-left: 10px;
    margin-right: 10px;
}
.shippiing-location--cart--text
{
    display: flex;
    justify-content: space-between;
}
.shippiing-location--cart--text--menu
{
    font-size: 12px;
    color: #808080;
    text-align: left;
}
.shippiing-location--cart--text--menu--list--item
{
    display: inline-flex;
    float: left;
}
.shippiing-location--cart--text--menu--list--active
{
    color: var(--primary-color);
    margin-right: 2px;
}
.shippiing-location--cart--text--menu--notification
{
    font-size: 11.7px;
    color: #808080;
    float: left;
}
.shiping--location-home--active:hover .shippiing-location--cart
{
    display: block;
}
.content-selection--list
{
    cursor: pointer;
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    color: rgba(0,0,0,.8);
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.09);
    position: relative;
    background: #fff;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.content-selection--list--active
{
    cursor: pointer;
    box-sizing: border-box;
    color: rgba(0,0,0,.8);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.09);
    background: #fff;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.content-selection--list:hover
{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.content-selection--list--active:hover
{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
/*  */
.content-selection-input-quanlity
{
    background-color: #fafafa;
    display: flex;
    align-items: center;
}
.content-selection-input-quanlity--list
{
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 32px;
}
.content-selection-input-quanlity--list:first-child
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.shopee-svg-icon
{
    font-size: 10px;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    display: inline-block;
    position: relative;
}
.content-selection-input-quanlity--list--input
{
    width: 50px;
    height: 32px;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
    outline: none;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    background: transparent;
    color: rgba(0,0,0,.8);
}
.content-price-text--display
{
    color: #757575;
    margin-left: 10px;
}
/*  */
.content--shopping
{
    display: flex;
    margin-top: 32px;
    font-size: 16px;
    height: 48px;
    margin-bottom: 40px;
}
.content--shoppinh--cart--text
{
    text-align: center;
    margin-left: 10px;
}
.content--shopping--cart--icon:hover
{
    opacity: 0.6;
}
.content--shopping--buy--now:hover
{
    opacity: 0.8;
}
.content--shopping--cart
{
    display: inline-flex;
    width: 230px;
    height: 45px;
    text-align: center;
    align-items: center;
    position: relative;
    overflow: visible;
    outline: 0;
    background: rgba(255,87,34,0.1);
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
    cursor: pointer;
}
.content--shopping--cart--icon
{
    color: var(--primary-color);
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 10px;
}
.content--shopping--buy--now
{
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
    min-width: 80px;
    max-width: 250px;
    font-size: 16px;
    height: 45px;
    padding: 0 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    cursor: pointer;
    margin-left: 30px;
}
/* another--choice */
.another--choice
{
    background-color: white;
}
.another--choice--heading
{
   font-weight: 400;
   font-size: 19px;
   padding-top: 15px;
   padding-left: 10px;
}
.another--choice--img--list
{
    display: inline-flex;
    width: 160px;
    margin-right: 12px;
    text-decoration: none;
    margin-left: 38px;
    align-items: center;
}
.another--choice--img--list--menu--list
{
    text-decoration: none;
}
.another--choice--img--list--menu--item
{
    width: 160px;
    height: 160px;
    border-radius: 2px;
}
.another--choice--img--list--menu--item--1
{
    background-image: url('https://cf.shopee.vn/file/a9731dab9e91b4d2fc67fb3d450d4690');
    width:160px;
    height:160px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
}
.another--choice--img--list--menu--item--2
{
    background-image: url('https://cf.shopee.vn/file/721f7fd2d01d7780ee69157752495ad1');
    width:160px;
    height:160px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
}
.another--choice--img--list--menu--item--3
{
    background-image: url('https://cf.shopee.vn/file/80defa2c11147a7d767fa94c5d4aa34d');
    width:160px;
    height:160px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
}
.another--choice--img--list--menu--item--4
{
    background-image: url('https://cf.shopee.vn/file/ea4368ab8c7752318c013ae18bc80d04');
    width:160px;
    height:160px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
}
.another--choice--img--list--menu--item--5
{
    background-image: url('https://cf.shopee.vn/file/daa799c827a176e5487e6ec9d5c537e0');
    width:160px;
    height:160px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
}
.another--choice--img--list--menu--item--description
{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;
    height: 46px;
    word-break: break-word;
    white-space: nowrap;
}
.another--choice--img--list--menu--item--description--text
{
    color: rgba(0,0,0,.87);
    white-space: normal;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    text-decoration: none;
}
.another--choice--label
{
    margin: 10px 0;
    display: flex;
    cursor: pointer;
    color: rgba(0,0,0,.54);
}
.another--choice--label--list
{
    opacity: .35;
    cursor: no-drop;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
    color: rgba(0,0,0,.54);
    max-width: 400px;
}
.another--choice--label--list--checkbox
{
    border-color: #ee4d2d;
    color: #ee4d2d;
}
.another--choice--infomation
{
    cursor: pointer;
    color: rgba(0,0,0,.54);
    line-height: 1.2;
    position: relative;
}
.another--choice--infomation--tittle
{
    height: 100%;
}
.another--choice--infomation--tittle--list
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,.54);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.another--choice--infomation--tittle--list--icon
{
    margin-left: 14px;
}
.another--choice--cost
{
    color: rgba(0,0,0,.8);
    line-height: 1.2;
}
.another--choice--cost--old
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: rgba(0,0,0,.26);
    text-decoration: line-through;
    margin-right: 4px;
    flex: 0 1 auto;
}
.another--choice--cost--new
{
    color: #ee4d2d;
    flex: 1 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.another--choice--sign
{
    height: 160px;
    margin-left: 35px;
    margin-right: 35px;
    align-items: flex-start;
    display: flex;
}
.shopee-svg-icon
{
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    fill: currentColor;
    position: relative;
} 
/*  */
.product-shop
{
    display: flex;
    height: 9rem;
    padding: 1.5625rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    background: #fff;
    margin-top: 0.9375rem;
    margin-left: 30px;
    border-radius: 2px;
}
.product-shop-info
{
    width: 440px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0,0,0,.05);
    display: flex;
}
.product-shop-info--list
{
    flex-shrink: 0;
    margin-right: 1.25rem;
    position: relative;
    overflow: visible;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}
.product-shop-info-avartar
{
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 0.0625rem solid rgba(0,0,0,.09);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-shop-info-avartar--plachoder
{
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}
.product-shop-info-avartar--plachoder--img
{
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.product-shop-info-love
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.product-shop-info-love--text
{
    font-size: .75rem;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: inline-block;
    position: relative;
    background-color: #ee4d2d;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0.1875rem 0.25rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    user-select: none;
}
.product-shop-info--text
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right:1px solid rgba(0,0,0,.1);
}
.product-shop-info--text--tittle
{
    font-weight: 400;
    font-size: 1.4rem;
    color: rgba(0,0,0,.87);
    margin: 0;
}
.product-shop-info--text--online
{
    font-size: 1rem;
    color: rgba(0,0,0,.54);
    text-transform: capitalize;
}
.product-shop-info--text-conect
{
    margin-top: 8px;
    display: flex;
}
.product-shop-info--text-conect--button
{
    margin-right: 0.625rem;
    position: relative;
    overflow: visible;
    outline: 0;
    background: rgba(255,87,34,0.1);
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
    height: 24px;
    padding: -4px 15px;
    min-width: 40px;
    max-width: 100px;
    cursor: pointer;
}
.product-shop-info--text-conect--list
{
    flex-direction: row;
    text-transform: capitalize;
    color:#555;
    outline: 0;
    background: #fff;
    color: #555;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
    position: relative;
    overflow: visible;
    text-decoration: none;
    height: 24px;
    padding: 3px 15px;
    min-width: 40px;
    max-width: 100px;
}
.product-shop-info--text--heading
{
    padding-left: 3.4375rem;
    color: rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
}
.product-shop-info--text--heading-evaluate
{
    display: flex;
    flex-direction: column;
    margin-right: 3.125rem;
}
.product-shop-info--text--heading-evaluate-list
{
    background: transparent;
    border: 0;
    position: relative;
    overflow: visible;
    outline: 0;
    margin-bottom: 5px;
}
.product-shop-info--text--heading-evaluate-list-item
{
    color: rgba(0,0,0,.4);
    margin-right: 0.6rem;
}
.product-shop-info--text--heading-evaluate-list-item-text
{
    cursor: pointer;
    color: var(--primary-color);
}
.product-shop-info--text--heading-evaluate-list-item-active
{
    margin-left: 4px;
}
.cotent-body
{
    margin-top: 20px;
    margin-left: 30px;
}
.cotent-body--text
{
    width: 80%;
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    font-size: 1.5rem;
    padding: 0.875rem;0
}
.content--body--list-menu
{
    display: flex;
}
.content-price-sale--active--text
{
    margin-left: 38px;
}
.content-body--text--contenttext
{
    width: 80%;
    margin: 0;
    padding-bottom: 1.875rem;
    display: block;
    text-align: justify;
    white-space: pre-wrap;
    color: rgba(0,0,0,.8);
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.875rem;
}
/* contentproduct--reveiw */
.contentproduct--review
{
    border-color: rgba(0,0,0,.08);
}
.contentproduct--review--body
{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fafafa;
    flex:1;
}
.contentproduct--review--heading
{
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 32px;
    color: rgba(0,0,0,.87);
    text-transform: capitalize;
}
.contentproduct--evaluate
{
    background-color: #fffbf8;
    min-height: 5rem;
    border: 1px solid #f9ede5;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1.875rem;
    width: 85%;
    margin-left: 30px;
}
.contentproduct--evaluate--star
{
    text-align: center;
    margin-right: 1.875rem;
    display: block;
}
.contentproduct--evaluate--star--text
{
    color: #ee4d2d;
    font-size: 2rem;
}
.contentproduct--evaluate--star--icon
{
    font-size: 1.6rem;
    margin-top: 0.625rem;
    position: relative;
    display: inline-flex;
    text-align: center;
    color: var(--primary-color);
}
.contentproduct--evaluate--right
{
    font-size: 14px;
}
.product-rating-overview__filter 
{
    cursor: pointer;
    user-select: none;
    height: 3rem;
    line-height: 1.5rem;
    max-width: 200px;
    min-width: 100px;
    text-align: center;
    padding: 5px;
    text-align: center;
    color: rgba(0,0,0,.8);
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.09);
    box-sizing: border-box;
    display: inline-block;
    margin-right: 0.5rem;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    text-transform: capitalize;
    border-radius: 2px;
    margin-bottom: 0.3125rem;
    margin-top: 0.3125rem;
}
.product-rating-overview__filter--active
{
    border-color:#ee4d2d;
    fill: #ee4d2d;
    color:#ee4d2d;
} 
.product-rating-overview__filter--width
{
    width: 250px;
}
/* product__rating--list */
.product__rating--list
{
   margin-left: 30px;
   margin-top: 20px;
}
.content__product--rating--comment
{

}
.content__product--rating--list
{
    border-bottom: 1px solid rgba(0,0,0,.09);
    display: flex;
    padding: 1rem 0 1rem 1.25rem;
}
.content__product--rating--list:first-child
{
    padding-top: 0;
}
.content__product--rating--avartar
{
    width: 2.5rem;
    margin-right: 0.625rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}
.content__product--avartar
{
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
}
.content__product--avartar--plachoder
{
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}
.shopee-avatar__placeholder .icon-headshot {
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
}
.content__product--avartar__img
{
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}
.content__product--rating--main
{
    flex: 1;
}
.content__product--rating--main--author-name
{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-size: 1.2rem;
}
.rating--control
{
    display: flex;
}
.product--rating--rating
{
    margin-top: 0.2rem;
    color: var(--primary-color);
    font-size: 1rem;
}
.rating--time
{
    margin-top: 0.75rem;
    font-size: 1.3rem;
    color: rgba(0,0,0,.54);
}
.rating--comment
{
    position: relative;
    box-sizing: border-box;
    margin: 0.9375rem 0;
    font-size: 1.3rem;
    line-height: 1.25rem;
    color: rgba(0,0,0,.87);
    word-break: break-word;
    /* white-space: pre-wrap; */
}
.ratting--tags
{
    display: flex;
    flex-wrap: wrap;
}
.product--rating--tag
{
    color: rgba(0,0,0,.8);
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 0.9375rem;
    padding: 0.25rem 1rem;
    cursor: default;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 100%;
    margin-right: 8px;
    font-size: 1.15rem;
    margin-bottom: 0.3125rem;
}
.ratting--img-list-wrap
{
    margin-top: 0.9375rem;
}
.rating__media--list
{

}
.rating__media--list-container
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.rating--img--wrapper
{
    width: 7rem;
    height: 7rem;
    margin: 0 0.625rem 0.625rem 0;
    position: relative;
} 
.rating--list--img--wraper--inactive
{
    cursor: zoom-in;
}
.rating-media-list-image__wrapper
{
    position: relative;
    width: 100%;
    height: 100%;
}
.rating-media-list-image__place-holder
{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fafafa;
}
.shopee-rating-media-list-image__content
{
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.shopee-rating-media-list-image__content--blur
{
    width: 100%;
    height: 100%;
}
.rating-media-list__video-cover
{
    position: absolute;
    height: 1.25rem;
    line-height: 1.25rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,.54);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    align-items: center;
    font-size: 0.8rem;
}
svg{
    width: 23;
    height: 18;
    fill: none;
    overflow: hidden;
}
.shoppe--rating--like
{
    display: flex;
    margin-top: 12px;
    margin-bottom: 10px;
}
.shoppe--rating--like--icon
{
    font-size: 13px;
    margin-right: 5px;
    cursor: pointer;
    color: rgba(0,0,0,.2);
}
.shoppe--rating--like--icon:hover
{
   color: var(--primary-color);
}
.shoppe--rating--text
{
    font-size: 13px;
    color: rgba(0,0,0,.4);
}
.shoppe--rating--report
{
    color: rgba(0 , 0, 0, 0.4);
    font-size: 13px;
    margin-left: 78%;
    cursor: pointer;
}
.shoppe--rating--report-text
{
    width: 108px;
    height: 40px;
    text-align: center;
    position: absolute;
    color: rgba(0 , 0, 0, 0.8);
    background-color:white;
    right:190px;
    padding: 12px;
    cursor: default;
    border-radius: 2px;
    z-index: 1;
    transform-origin: calc(100%-32px) top;
    /* Đổi vị trí chuyển động tâm*/
    animation: headerNotifyGrowth ease-in 0.2s ;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s ;
    -o-animation:headerNotifyGrowth ease-in 0.2s ;
    /* Khai báo hiệu ứng chuyển động trahs 1 số trình duyệt không hỗ trợ */
    display: none;
    will-change: opacity,transform;
    border: 1px solid rgba(0 , 0, 0, 0.1);
    /* Khai báo sự thay đổi chuyển động */
}
.shoppe--rating--report-text::after
{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 56px;
}
.shoppe--rating--report:hover .shoppe--rating--report-text
{
    display: block;
    cursor: pointer;
}
.shoppe--rating--feedback
{
    margin-top: 0.75rem;
    background-color: #f5f5f5;
    padding: 0.875rem 0rem;
    position: relative;
    width: 84%;
}
.shoppe--rating--feddback--shop
{
    color: #8b572a;
    font-size: 1.2rem;
    margin-left: 12px;
    text-transform: capitalize;
}
.shoppe--rating--feddback--text
{
    color: rgba(0,0,0,.87);
    margin-top: 0.625rem;
    font-size: 1.2rem;
    margin-left: 12px;
}
/* content__product--list--item */
.content__product--list--item
{
    margin-top: 1.5rem;
    text-align: right;
    justify-content: flex-end;
    display: flex;
    margin-right: 180px;
    margin-bottom: 20px;
}
.content__product--list--item--icon
{
    border: 1px solid rgba(0,0,0,.09);
    font-size: 1.2rem;
    min-width: 25px;
    background-color:white;
    height: 25px;
    color: rgba(0,0,0,.4);
}
.content__product--list--old--primary
{
    background-color: #ee4d2d!important;
    height: 25px;
    width: 25px;
    min-width: 1.5rem;
    font-size: 1.4rem;
    padding: 4px;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin: 0 0.75rem;
    cursor: pointer;
}
.content__product--list--no-outline
{
    color: rgba(0,0,0,.87);
    margin: 0;
    background-color: white;
    height: 1.5rem;
    min-width: 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    height: 25px;
    width: 25px;
    margin-right: 4px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-product--tittle--heading
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}
.home-prouct--heading
{
   font-size: 18px;
   margin-left: 30px;
   font-weight: 500;
   color: rgba(0,0,0,.54);
}
.home--prodcut--see
{
    font-size: 14px;
    margin-right: 30px;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary-color);
}
.home-product--1
{
    background-color: rgba(0,0,0,.08);
    padding-bottom: 20px;
}
.home__product--active
{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}